*.exe
**/.vscode
__pycache__/
dist/*.aux
dist/*.log
dist/*.out
dist/*.toc
dist/*.synctex.gz
dist/*.fls
dist/*.fdb_latexmk
dist/*.bbl
dist/*.blg
dist/*.run.xml
dist/*.bcf
dist/*.xdv
dist/*.lof
dist/*.lot
dist/*.nav
dist/*.snm
dist/*.vrb
dist/_markdown_notes/
dist/*.markdown.*
dist/notes.pdf
